/* .name {
  width: 100%;
}

.TopNav {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right,silver,gray);
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.TopNav-Buttons {
  width: 30%;
  background: #31977F;
  height: 100%;
}

.TopNav H3 {
  color: white;
  letter-spacing: 1.5px;
} */