.Message {
  width: 30%;
  height: 95vh;
  border: 1px solid #34A7C1;
  background: white;
  position: absolute;
  right: 0;
}

.top-bar {
  width: 100%;
  height: 40px;
  background: #41C9A9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}

.top-bar img {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

#exit-button {
  cursor: pointer;
}

.compose {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  color: #41C9A9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compose span {
  color: #41C9A9;
  font-size: 25px;
  margin: 0 10px;
}

.message-input {
  height: 100px;
  width: 100%;
  position: absolute;
  background: #34A7C1;
  bottom: 0;
}

.message-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.message-input input {
  width: 80%;
  height: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: white;
  background: url('../../Assets/submit.png') no-repeat 7px 0px;
  background-size: 18px;
  background-position: right;
}

input[type="text"] {
  background-color: white;
}